/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.dmBody a.span.textonly
{
	color:rgb(255,255,255) !important;
}
*#dm *.dmBody div.dmform-error
{
	font-style:normal !important;
}
*#dm *.dmBody div.dmforminput textarea
{
	font-style:italic !important;
}
*#dm *.dmBody div.dmforminput *.fileUploadLink
{
	font-style:italic !important;
}
*#dm *.dmBody div.checkboxwrapper span
{
	font-style:italic !important;
}
*#dm *.dmBody div.radiowrapper span
{
	font-style:italic !important;
}
*#dm *.dmBody nav.u_1144820115
{
	color:black !important;
}
*#dm *.dmBody div.u_1898259948
{
	line-height:1.5 !important;
}
*#dm *.dmBody div.u_1444619465
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1488757053
{
	background-color:rgba(255,255,255,1) !important;
}
*#dm *.dmBody div.u_1457513744
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.dmBody div.u_1850337955
{
	border-color:var(--color_7) !important;
	border-width:0px !important;
	border-style:solid !important;
}
*#dm *.dmBody nav.u_1318507390
{
	color:black !important;
}
