/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.p_hfcontainer img.u_dm-logo-image
{
	padding-top:4px !important;
	padding-bottom:4px !important;
}
*#dm *.dmInner div.u_hcontainer
{
	background-color:var(--color_1) !important;
	padding-top:1px !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	float:none !important;
	margin-right:auto !important;
	margin-left:auto !important;
	top:0 !important;
	max-width:100% !important;
	left:0 !important;
	width:100% !important;
	margin-top:0 !important;
	position:relative !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
}
*#dm *.dmInner div.dmHeader.u_hcontainer
{
	padding-bottom:0 !important;
}
*#dm *.p_hfcontainer div.u_dm-title
{
	font-size:30px !important;
	display:none !important;
	font-weight:bold !important;
}
*#dm *.p_hfcontainer a.u_dm-logo-anchor
{
	display:inline-block !important;
}
*#dm *.p_hfcontainer div.u_logo-div
{
	display:inline-block !important;
}
*#dm *.p_hfcontainer *.dm-logo-image
{
	width:100% !important;
	height:auto !important;
	max-height:none !important;
	max-width:none !important;
}
*#dm *.p_hfcontainer div.logo-div
{
	width:110px !important;
	lockratio:true !important;
	donedragging:true !important;
	height:auto !important;
	margin-bottom:0 !important;
	margin-top:0 !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer div.u_1418037020
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer div.u_1570581462
{
	margin-left:0 !important;
	margin-right:0 !important;
	padding-left:15px !important;
	padding-right:15px !important;
}
*#dm *.p_hfcontainer div.u_1134560283
{
	padding-right:0 !important;
	padding-left:10px !important;
	margin-left:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1509275155
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1764669401
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1349519636
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer div.u_1365764397
{
	padding-top:80px !important;
	padding-right:20px !important;
	padding-left:20px !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	padding-top:7px !important;
	padding-bottom:7px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	padding-top:7px !important;
	padding-bottom:7px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.p_hfcontainer nav.u_1494404016
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0 !important;
	justify-content:flex-start !important;
	align-items:stretch !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.p_hfcontainer div.u_1426924239 *.language a
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.p_hfcontainer div.u_1426924239
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:50px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:calc(100% - 0px) !important;
	margin-top:20px !important;
	margin-bottom:20px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.p_hfcontainer div.u_1426924239 *.mobileMultilingual a
{
	background-color:var(--color_1) !important;
}
*#dm *.p_hfcontainer div.u_1027589997
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.p_hfcontainer div.u_1610987705
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:20px !important;
	padding-bottom:40px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:20px !important;
	margin-right:0 !important;
}
*[dmtemplateid="mobileHamburgerLayout"].runtime-module-container *.layout-drawer-hamburger
{
	top:12px !important;
}
*[dmtemplateid="mobileHamburgerLayout"] *.site_content
{
	margin-top:64px !important;
}
*#dm *.p_hfcontainer div.u_1419902457
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1449735839
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:44.6719px !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:114.156px !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.p_hfcontainer div.u_1172112821
{
	width:auto !important;
}
*#dm *.p_hfcontainer div.u_1109918462
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1020803662
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.p_hfcontainer div.u_1597590116
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:19px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.p_hfcontainer div.u_1943033568
{
	padding-left:13px !important;
	padding-right:13px !important;
	padding-top:40px !important;
	margin-left:0 !important;
	padding-bottom:30px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	width:auto !important;
}
*[dmtemplateid="mobileHamburgerLayout"] div.layout-drawer-overlay
{
	background-color:rgba(0,0,0,0.4) !important;
}
*.layout-drawer_fixed-header[dmtemplateid="mobileHamburgerLayout"] *#mobile-hamburger-drawer.layout-drawer
{
	top:74px !important;
	max-height:calc(100% - 74px) !important;
}
*#dm *.p_hfcontainer *#mobile-hamburger-drawer.layout-drawer[data-origin="top"]:not([data-auto-height])
{
	height:auto !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer div.u_1747603936
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1110096533
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	padding-right:0 !important;
	padding-left:0 !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	padding-top:5px !important;
	padding-bottom:5px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	padding-top:5px !important;
	padding-bottom:5px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
*#dm *.p_hfcontainer div.u_1686663948 *.language a
{
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.p_hfcontainer div.u_1686663948
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:50px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:122px !important;
	max-width:calc(100% - 122px) !important;
	margin-top:10px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.p_hfcontainer div.u_1686663948 *.mobileMultilingual a
{
	background-color:rgba(39,42,47,1) !important;
}
div.u_1000976981
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	max-width:318px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.p_hfcontainer *.u_1000976981.dmSocialHub .socialHubInnerDiv a:not(:last-child)
{
	margin-right:13px !important;
}
*#dm *.p_hfcontainer div.u_1000976981
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:318px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.p_hfcontainer div.u_1000896225
{
	margin-left:0 !important;
	padding-top:15px !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
	width:auto !important;
}
*#dm *.p_hfcontainer div.u_1167148380
{
	padding-top:10px !important;
	padding-bottom:10px !important;
	margin-left:0 !important;
	padding-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.p_hfcontainer div.u_1387815511
{
	padding-right:10px !important;
	padding-left:0 !important;
}
*#dm *.p_hfcontainer div.u_1966144435
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer div.u_1970473082
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:44px !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.p_hfcontainer a.u_1495031221 span.text
{
	font-size:12px !important;
}
*#dm *.p_hfcontainer div.u_1996002174
{
	padding-right:0 !important;
	padding-left:0 !important;
}
*#dm *.p_hfcontainer div.u_1145527740
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:5px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1463999939
{
	padding-top:10px !important;
	padding-bottom:10px !important;
	padding-right:7px !important;
	padding-left:7px !important;
}
*#dm *.p_hfcontainer a.u_1495031221
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:30px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:calc(100% - 0px) !important;
	margin-top:2px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.p_hfcontainer div.u_1875054788
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:44px !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:2px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.p_hfcontainer div.u_1812899648
{
	padding-right:10px !important;
	padding-left:0 !important;
}
*#dm *.p_hfcontainer div.u_1470159593
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:44px !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:256.828px !important;
	margin-left:19.9844px !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.p_hfcontainer div.u_1898833266
{
	padding-top:10px !important;
	padding-bottom:10px !important;
	margin-left:0 !important;
	padding-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.p_hfcontainer div.u_1317208064
{
	padding-right:10px !important;
	padding-left:10px !important;
}
*#dm *.p_hfcontainer div.u_1352221882
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:10px !important;
	margin-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1649015584
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer div.u_1623175061
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:44px !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
	height:auto !important;
}
*#dm *.p_hfcontainer div.u_1257921774
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:30px !important;
	position:relative !important;
	height:27px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:0 !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.p_hfcontainer div.u_1446260942
{
	padding-right:10px !important;
	padding-left:0 !important;
}
*[dmtemplateid="mobileHamburgerLayout"].runtime-module-container.layout-drawer_open.layout-drawer_push-content
{
	transform:translate(0,0) !important;
}
*#dm *.p_hfcontainer div#mobile-hamburger-drawer.layout-drawer
{
	background-color:var(--color_2) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 28px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:12px !important;
	padding-left:15px !important;
	padding-bottom:12px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:257px !important;
	margin-top:91px !important;
	justify-content:center !important;
	align-items:stretch !important;
	margin-bottom:0 !important;
	padding-right:15px !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.p_hfcontainer div.u_1226045931
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:15px !important;
	padding-bottom:60px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	font-size:18px !important;
}
*#dm *.p_hfcontainer *.u_1000976981 .socialHubIcon
{
	width:31px !important;
	height:31px !important;
	font-size:20.666666666666668px !important;
	line-height:31px !important;
}
*#dm *.p_hfcontainer *.u_1000976981 .socialHubIcon:after
{
	width:39px !important;
	height:31px !important;
}
*[dmtemplateid="mobileHamburgerLayout"] *.layout-drawer-hamburger:not(.hamburger-on-header)
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(0,0,0,1) !important;
}
*[dmtemplateid="mobileHamburgerLayout"] *.layout-drawer-hamburger.hamburger-on-header
{
	color:rgba(255,255,255,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div#mobile-hamburger-header
{
	background-color:var(--color_3) !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	border-style:solid !important;
	border-width:0 !important;
}
*#dm *.p_hfcontainer *#mobile-hamburger-header.scroll-responder_set
{
	background-color:rgba(0,0,0,1) !important;
	background-image:none !important;
}
*#dm *.p_hfcontainer *#mobile-hamburger-header
{
	background-color:rgba(0,0,0,1) !important;
}
*.fHeader *#hcontainer.dmHeader[freeheader="true"]
{
	padding-top:initial !important;
	padding-bottom:initial !important;
}
*#dm *.p_hfcontainer div.u_1766284643
{
	padding-top:0 !important;
	padding-bottom:0 !important;
	margin-left:0 !important;
	padding-left:20px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
}
*.responsiveTablet [dmtemplateid="mobileHamburgerLayout"] .site_content
{
	margin-top:55px !important;
}
*.responsiveTablet [dmtemplateid="mobileHamburgerLayout"].runtime-module-container .layout-drawer-hamburger
{
	top:7.5px !important;
}
*.responsiveTablet [dmtemplateid="mobileHamburgerLayout"].layout-drawer_fixed-header #mobile-hamburger-drawer.layout-drawer
{
	top:55px !important;
	max-height:calc(100% - 55px) !important;
}
