/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS ALL DEVICES */
*#dm *.p_hfcontainer *.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer *.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer div.u_1623205752 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1623205752 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 0px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-right:15px !important;
	padding-left:15px !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 0px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav[data-middle-logo-nav="true"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
	transform:translateX(0) !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_6"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_7"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_8"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer div.dm-title
{
	font-family:Montserrat !important;
	color:var(--color_1) !important;
	font-style:normal !important;
	font-weight:bold !important;
}
*#dm *.p_hfcontainer div.u_dm-title
{
	font-family:Montserrat !important;
	font-style:normal !important;
	font-weight:bold !important;
}
*#dm *.dmInner div.dmHeader.p_hfcontainer.scroll-responder_set
{
	background-color:var(--color_1) !important;
}
*#dm *.p_hfcontainer nav.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1783404857.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer nav.u_1783404857.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgba(147,147,147,1) !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:24px !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:24px !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after
{
	align-self:flex-start !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgba(147,147,147,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	font-weight:normal !important;
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	font-weight:normal !important;
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	font-weight:normal !important;
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-weight:normal !important;
	color:rgba(147,147,147,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1144820115.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	text-align:left !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 10px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1144820115.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
*#dm *.p_hfcontainer div.u_1449735839 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1449735839 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav.effect-text-fill *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before
{
	color:rgba(147,150,150,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav.effect-roll-over *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item *.nav-item-text::before
{
	color:rgba(147,150,150,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth]
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:16px !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-top:7px !important;
	padding-bottom:7px !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 7px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
*#dm *.p_hfcontainer div.u_1426924239 *.mobileMultilingual *.language
{
	color:rgba(39,42,47,1) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	font-weight:normal !important;
	color:rgba(147,147,147,1) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:rgba(100,100,100,1) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	color:rgba(147,147,147,1) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(100,100,100,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(100,100,100,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1494404016.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(100,100,100,1) !important;
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 0px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-right:15px !important;
	padding-left:15px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-middle-logo-nav="true"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:15px !important;
	transform:translateX(0) !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_6"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_7"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-middle-logo-nav="true"][layout-main="horizontal_nav_layout_8"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	margin-left:0 !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:14px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item .nav-item-text::after
{
	border-top-color:rgba(0,0,0,1) !important;
	border-top-width:2px !important;
	border-top-style:solid !important;
}
*#dm *.p_hfcontainer nav.u_1144820115
{
	color:black !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	color:var(--color_1) !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:var(--color_1) !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 0px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):not(:last-of-type)>.unifiednav__item-wrap .unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer *.u_1112353738.main-navigation.unifiednav[data-nav-structure="SPLIT"] .unifiednav__container:not([data-depth]):last-of-type>.unifiednav__item-wrap:not(:last-child) .unifiednav__container[data-depth="0"]
{
	left:15px !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover
{
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.hover
{
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer nav.u_1112353738.main-navigation.unifiednav .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected
{
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer div.u_1020803662 .copyright
{
	color:var(--color_1) !important;
	font-weight:normal !important;
	text-decoration:none !important;
}
*#dm *.p_hfcontainer nav.u_1112353738
{
	color:white !important;
}
*#dm *.p_hfcontainer *.u_1020803662 .copyright
{
	justify-content:flex-start !important;
	text-align:left !important;
}
*#dm *.p_hfcontainer nav.u_1245199861
{
	color:white !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after
{
	align-self:center !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth]
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	color:var(--color_1) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(181,181,181,1) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(181,181,181,1) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	background-color:rgba(0,0,0,0) !important;
	color:rgba(181,181,181,1) !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 5px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	justify-content:center !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}
*#dm *.p_hfcontainer div.u_1418037020
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1318507390
{
	color:white !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav[data-nav-structure='VERTICAL'] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap::after
{
	align-self:center !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:var(--color_3) !important;
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	font-weight:normal !important;
	color:var(--color_3) !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	color:rgba(0,0,0,1) !important;
}
*#dm *.p_hfcontainer div.u_1845040561 *.socialHubIcon
{
	color:var(--color_3) !important;
	border-color:var(--color_3) !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	justify-content:center !important;
	padding-top:15px !important;
	padding-bottom:15px !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	font-weight:normal !important;
}
*#dm *.p_hfcontainer nav.u_1318507390.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	font-weight:normal !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	text-align:center !important;
	padding-top:22px !important;
	padding-bottom:22px !important;
	justify-content:center !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 22px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:0 !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:24px !important;
}
*#dm *.p_hfcontainer *.u_1318507390.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:24px !important;
}
*#dm *.p_hfcontainer div.u_1970473082 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1970473082 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1875054788 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1875054788 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer a.u_1495031221 span.text
{
	font-weight:bold !important;
}
*#dm *.p_hfcontainer div.u_1470159593 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1470159593 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1898833266
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1623175061 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1623175061 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1257921774 *.svg
{
	color:rgba(102,102,102,1) !important;
	fill:rgba(102,102,102,1) !important;
}
div#dm .header-over-content .dmInner .dmHeader:not(.scroll-responder_set)
{
	background-color:rgba(0,0,0,0) !important;
}
div#dm .header-over-content .dmInner #hamburger-header:not(.scroll-responder_set)
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1719112850
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1775038045
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1000896225
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer div.u_1167148380
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:var(--color_3) !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:18px !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav:not([data-nav-structure='VERTICAL']) .unifiednav__container:not([data-depth])>.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:18px !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	color:var(--color_3) !important;
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	color:var(--color_3) !important;
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer nav.u_1245199861.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	color:var(--color_3) !important;
	text-decoration:underline !important;
}
*#dm *.p_hfcontainer *.u_1245199861.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	justify-content:center !important;
	text-align:center !important;
	padding-top:15px !important;
	padding-bottom:15px !important;
	margin-left:0 !important;
	padding-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.p_hfcontainer div.u_1000976981 .socialHubIcon
{
	color:var(--color_3) !important;
	border-color:var(--color_3) !important;
}
div#dm .header-over-content .dmInner #mobile-hamburger-header:not(.scroll-responder_set)
{
	background-color:rgba(0,0,0,0) !important;
}
div#dm .hamburger-on-scrolled-header
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .dmNewParagraph
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .dmNewParagraph *
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected
{
	color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text
{
	border-color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::after
{
	border-color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover .nav-item-text::after
{
	border-color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text
{
	border-color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item.dmNavItemSelected .nav-item-text::after
{
	border-color:var(--color_1) !important;
}
div#dm .dmHeader.p_hfcontainer.scroll-responder_set#hcontainer .main-navigation.unifiednav.effect-bottom2 .unifiednav__container:not([data-depth])>.unifiednav__item-wrap>.unifiednav__item:hover .nav-item-text::after
{
	border-color:var(--color_1) !important;
}
*#dm *.p_hfcontainer div.u_1861705244
{
	background-color:var(--color_8) !important;
}
*#dm *.p_hfcontainer div.u_1246161842
{
	background-color:var(--color_8) !important;
	border-style:solid !important;
	border-width:0 !important;
}
*#dm .dmInner div.dmHeader.p_hfcontainer.scroll-responder_set#hcontainer
{
	background-color:var(--color_8) !important;
	background-image:none !important;
}
*#dm *.dmInner div.dmHeader.u_hcontainer.scroll-responder_set
{
	background-color:var(--color_8) !important;
	background-image:none !important;
}
*#dm .dmInner div.dmHeader.p_hfcontainer.u_hcontainer.scroll-responder_set#hcontainer
{
	background-color:var(--color_8) !important;
	background-image:none !important;
}
*#dm *.p_hfcontainer div.u_1595527278 img[dm_changed]
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer div.u_1595527278 img
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item:hover
{
	background-color:rgba(102,102,102,1) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.hover
{
	background-color:rgba(102,102,102,1) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.navItemSelectedServer
{
	background-color:rgba(102,102,102,1) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item.dmNavItemSelected
{
	background-color:rgba(102,102,102,1) !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 25px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:30px !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav *.unifiednav__container[data-depth] *.unifiednav__item
{
	margin-bottom:0 !important;
	margin-top:0 !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item:hover
{
	background-color:rgba(51,51,51,0.64) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.hover
{
	background-color:rgba(51,51,51,0.64) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.navItemSelectedServer
{
	background-color:rgba(51,51,51,0.64) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item.dmNavItemSelected
{
	background-color:rgba(51,51,51,0.64) !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::before
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav:not(.unifiednav_vertical) *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child)::after
{
	font-size:15px !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:not(:last-of-type)>*.unifiednav__item-wrap *.unifiednav__container[data-depth="0"]
{
	left:30px !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav[data-nav-structure="SPLIT"] *.unifiednav__container:not([data-depth]) *:last-of-type>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:30px !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap>*.unifiednav__item
{
	padding-right:30px !important;
	padding-left:30px !important;
	padding-top:25px !important;
	padding-bottom:25px !important;
	margin-right:0 !important;
	margin-bottom:0 !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav:not([image]) *.unifiednav__container[data-depth="0"]
{
	top:calc(100% - 25px - 0px) !important;
}
*#dm *.p_hfcontainer *.u_1466308874.main-navigation.unifiednav[data-nav-structure="HORIZONTAL"] *.unifiednav__container:not([data-depth])>*.unifiednav__item-wrap:not(:last-child) *.unifiednav__container[data-depth="0"]
{
	left:30px !important;
}
*#dm *.p_hfcontainer div.u_1632451470 *.desktopMultilingual *.language
{
	color:rgba(255,255,255,1) !important;
}
*#dm *.p_hfcontainer nav.u_1466308874
{
	color:white !important;
}
*#dm *.dmInner div.u_hcontainer
{
	background-color:var(--color_3) !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	background-repeat:no-repeat !important;
	background-image:url(https://irp.cdn-website.com/280d8fb4/dms3rep/multi/Python+AI+Solutions+ICON-f22655cf.png) !important;
	background-size:cover !important;
}
*#dm *.dmInner div.dmHeader.u_hcontainer
{
	background-color:var(--color_3) !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	background-repeat:no-repeat !important;
	background-image:url(https://irp.cdn-website.com/280d8fb4/dms3rep/multi/Python+AI+Solutions+ICON-f22655cf.png) !important;
	background-size:cover !important;
}
*#dm *.dmInner div.dmHeader
{
	background-color:var(--color_3) !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	background-repeat:no-repeat !important;
	background-image:url(https://irp.cdn-website.com/280d8fb4/dms3rep/multi/Python+AI+Solutions+ICON-f22655cf.png) !important;
	background-size:cover !important;
}
*#dm .dmInner *.u_hcontainer:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.u_hcontainer.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader.u_hcontainer:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader.u_hcontainer.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.u_hcontainer>.bgExtraLayerOverlay
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader.u_hcontainer>.bgExtraLayerOverlay
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm .dmInner *.dmHeader>.bgExtraLayerOverlay
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.p_hfcontainer *.u_1595527278
{
	width:100% !important;
}
*#dm *.p_hfcontainer div.u_1461778811
{
	background-color:var(--color_3) !important;
}
*#dm .dmInner *.fHeader #hcontainer.dmHeader[freeheader="true"][data-scrollable-target].scroll-responder_set
{
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.p_hfcontainer div.u_1597590116
{
	background-color:var(--color_3) !important;
}
*#dm *.p_hfcontainer div.u_1943033568
{
	background-color:var(--color_3) !important;
}
*#dm *.p_hfcontainer div.u_1109918462
{
	background-color:var(--color_3) !important;
}
*#dm .dmInner *.dmHeader.scroll-responder_set [data-widget-type="image"] img
{
	width:71% !important;
}
*#dm *.dmInner *.dmHeader.scroll-responder_set *[data-widget-type="image"]
{
	height:auto !important;
}
*#dm *.dmInner *.dmHeader.scroll-responder_set *.unifiednav *.middleLogoLink *.navLogo
{
	transition:width 0.3s linear !important;
	width:100px !important;
}
*#dm *.dmInner *.dmHeader *.unifiednav *.middleLogoLink *.navLogo
{
	transition:width 0.3s linear !important;
}
*#dm *.dmInner div.dmFooter
{
	background-color:var(--color_3) !important;
	border-style:solid !important;
	border-width:2px !important;
	border-color:var(--color_1) !important;
}
