/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.dmBody div.u_1662811305{
    padding-top:60px !important;
    padding-bottom:60px !important;
    background-position:50% 100% !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    padding-right:15px !important;
    padding-left:15px !important;
    margin-left:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-right:0 !important;
    width:auto !important}
    *#dm *.dmBody div.u_1856929711{
    padding-right:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-left:0 !important;
    padding-top:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-right:0 !important}
    *#dm *.dmBody div.u_1028071375{
    margin-left:0 !important;
    padding-top:50px !important;
    padding-left:0 !important;
    padding-bottom:50px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-right:0 !important;
    padding-right:0 !important;
    width:auto !important}
    *#dm *.dmBody div.u_1288324579{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 147px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:49px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important}
    *#dm *.dmBody div.u_1150819076{
    margin-left:0 !important;
    padding-top:50px !important;
    padding-left:0 !important;
    padding-bottom:50px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-right:0 !important;
    padding-right:0 !important;
    width:auto !important}
    *#dm *.dmBody div.u_1538840835{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 147px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:49px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important}
    *#dm *.dmBody div.u_1098284841{
    margin-left:0 !important;
    padding-top:50px !important;
    padding-left:0 !important;
    padding-bottom:50px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-right:0 !important;
    padding-right:0 !important;
    width:auto !important}
    *#dm *.dmBody div.u_1420672375{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 147px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:49px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important}