/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1575596761
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:50px !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1832305851
{
	margin-left:0 !important;
	padding-top:60px !important;
	padding-left:15px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
}
